@import "../Utils/variables";

@media screen and (min-width: 320px){
    ul{
        list-style: none;

    }
    
    .accordion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
            &_card{
                width: 100%;
                &_top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 35px;
                    position: relative;
                    bottom: 50px;

                }
                &_heading{
                    background-color: $first-color;
                    color: white;
                    padding : 5px 15px;
                    border-radius: 5px;
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                        & h2{
                            font-size: 18px;
                            font-weight: 500;
                        }
                    
                    &_picto{
                        position: relative;
                        right: 50px;
                        color: white;
                    }
                }
                &_content{
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    padding : 10px;
                    color: $first-color;
                    width: calc(100% - 38px); 
                    background-color: #f6f6f6;

                }
            }
        }

            .rot{
                animation: rotation .3s ease-in-out both normal;
            }
            .rotrev{
                animation: rotationrev .3s ease-in-out both normal;
            }

            @keyframes rotation {
                0%{
                    transform: rotateZ(0deg);
                }
                95%{
                    transform: rotateZ(180deg);
                }
                100%{
                    transform: rotateZ(180deg);
                }
                
            }

            @keyframes rotationrev {
                0%{
                    transform: rotateZ(180deg);
                }
                5%{
                    transform: rotateZ(180deg);
                }
                100%{
                    transform: rotateZ(0deg);
                }
                
            }
    

    .active{
        display: block;
    }

    .inactive{
        transition: all .2s;
        transition-timing-function: ease-out;
        transform-origin: 50% 0%;
        opacity: 0;
        transform: scaleY(0);
        max-height: 5px;
    }

    .fade{
        transition: all .2s;
        transition-timing-function: ease-out;
        transform-origin: 50% 0%;
        transform: scaleY(1);
        max-height: 550px;
        position: relative;
        bottom: 83px;
        
    }

    .fade.out{
        transition: all .2s;
        transition-timing-function: ease-in;
        transform-origin: 50% 0%;
        opacity: 0;
        transform: scaleY(0);
        max-height: 10px;
    }

    .apcontainer{
        min-height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    }



    @media screen and (min-width: 768px){

        .fade{

            max-height: 250px;
            transform-origin: 50% 0%;
        }
    
        .fade.out{

            max-height: 250px;
            transform-origin: 50% 0%;
        }



        
    }
