@import "../Utils/variables";

@media screen and (min-width: 320px){

.banniere{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
        &_background{
            width: 90%;  
            background-color: black;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        & img{
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            opacity: 0.8;
            height: 223px;


        }
        & h1{
            color: white;
            position:relative;
            bottom: 95px;
            left: -22px;
            width: 200px;
            font-weight: 300;
        }
}
}

@media screen and (min-width: 500px){

    .banniere{
        height: 200px;
        width: 90%;
            & img{
                max-height: 223px;
            }
            & h1{
                bottom: 120px;
                left: 0px; 
                width: auto;
            }
    }

}