@import "../Utils/variables";

@media screen and (min-width: 320px){
    .categoryButton{
        display: flex;
        position: relative;
        left: -32px;
        color: white;
        margin-bottom: 10px;
            &_btn{
                display: flex;
                list-style-type: none;
                flex-wrap: wrap;
                grid-gap: 10px;
                gap: 10px;
                padding: 32px;
                width: 100%;
                flex-direction: row;
                    & li{
                        background-color: $first-color;
                        padding: 10px 10px;
                        border-radius: 10px;
                        text-align: center;
                    }
            }
    }
    
}

@media screen and (min-width: 500px){
    
}