@import '../../sass/Utils/variables';

@media screen and (min-width: 320px){

    .host{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        position: relative;
        bottom: 85px;
        
        &_name{
            font-size: 12px;
            width: 80px;
            display: block;
            text-align: end;
            margin-right: 5px;
        }
        &_img{
            height: 32px;
            width: 32px;
            border-radius: 100%;
        }
    }
}
@media screen and (min-width: 500px){

    
}


@media screen and (min-width: 650px){

    .host{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        position: relative;
        top: -216px;
        right: 30px;
        &_name{
            font-size: 18px;
            width: 100px;
            display: block;
        }
        &_img{
            height: 64px;
            width: 64px;
            border-radius: 100%;
        }
    }

}

@media screen and (min-width: 1024px){

    .host{
        top: -166px;
        right: 30px;
    }

}