@import "../Utils/variables";


@media screen and (min-width: 320px){
    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_accordeon{
            position: relative;
            width: 100%;
        }
    }
    
.logementDescription{
    color: $first-color;
    &_title{
        font-weight: 500;
        font-size: 18px;
        width: 90%;
    }
    & span{
        font-size: 14px;
    }
    &_stats{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
}

@media screen and (min-width: 650px){

    .infos{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
            &_accordeon{
                width: 100%;
            }
                
    }
    .logementDescription{

        &_title{
            width: 70%;
            line-height: 40px;
            font-size: 36px;
        }
        & span{
            font-size: 18px;
        }
        &_stats{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

}