@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap");
body, h1, h2 {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

@media screen and (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 14%;
    max-height: 60px;
    padding-top: 40px;
    background-color: white;
  }
  .header_img {
    height: 25px;
  }
  .header a {
    text-decoration: none;
    color: #ff6060;
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .header a:hover {
    text-decoration: underline;
  }
  .header_links {
    display: flex;
    align-items: center;
    color: #ff6060;
  }
}
@media screen and (min-width: 500px) {
  .header {
    justify-content: space-between;
    margin: 0 14%;
  }
  .header_img {
    height: 68px;
  }
  .header a {
    margin-left: 50px;
    font-size: 24px;
    text-transform: none;
  }
}
@media screen and (min-width: 320px) {
  .banniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: -96px;
    width: 85%;
  }
  .banniere_background {
    width: 90%;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 111px;
  }
  .banniere img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    height: 111px;
  }
  .banniere h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    position: relative;
    bottom: 109px;
    left: -11px;
    width: 200px;
    font-weight: 500;
    font-size: 22px;
  }
}
@media screen and (min-width: 500px) {
  .banniere {
    height: 200px;
    margin-bottom: 0px;
  }
  .banniere_background {
    height: 223px;
  }
  .banniere img {
    height: 223px;
  }
  .banniere h1 {
    bottom: 153px;
    left: 0px;
    width: auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .banniere {
    height: 200px;
  }
  .banniere_background {
    height: 223px;
  }
  .banniere img {
    height: 223px;
  }
  .banniere h1 {
    bottom: 153px;
    left: 0px;
    width: auto;
    font-size: 48px;
  }
}
@media screen and (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
    gap: 10px;
    height: 250px;
  }
  .footer img {
    width: 30%;
  }
  .footer p {
    color: white;
    font-size: 12px;
  }
}
@media screen and (min-width: 500px) {
  .footer img {
    width: 125px;
  }
}
@media screen and (min-width: 320px) {
  .card {
    list-style-type: none;
    height: 230px;
    cursor: pointer;
  }
  .card img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 230px;
    border-radius: 10px;
  }
  .card_overlay {
    background: linear-gradient(0deg, rgb(0, 0, 0) 6%, rgba(255, 255, 255, 0) 100%);
    height: 231px;
    position: relative;
    top: -234px;
    opacity: 0.5;
    border-radius: 10px;
  }
  .card h2 {
    color: rgb(211, 211, 211);
    position: relative;
    top: -311px;
    left: 10px;
    max-width: 70%;
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (min-width: 500px) {
  .card {
    height: 400px;
  }
  .card img {
    height: 400px;
  }
}
@media screen and (min-width: 320px) {
  .gallery {
    display: flex;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }
  .gallery_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 85%;
    align-items: center;
  }
  .gallery_list_cards {
    width: 90%;
    height: 230px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .gallery_list_cards_link {
    text-decoration: none;
  }
}
@media screen and (min-width: 500px) {
  .gallery_list_cards {
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .gallery_list_cards {
    width: 43%;
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery_list_cards {
    width: 29%;
  }
}
@media screen and (min-width: 320px) {
  ul {
    list-style: none;
  }
  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .accordion_card {
    width: 100%;
  }
  .accordion_card_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;
    position: relative;
    bottom: 50px;
  }
  .accordion_card_heading {
    background-color: #ff6060;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .accordion_card_heading h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .accordion_card_heading_picto {
    position: relative;
    right: 50px;
    color: white;
  }
  .accordion_card_content {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: #ff6060;
    width: calc(100% - 38px);
    background-color: #f6f6f6;
  }
  .rot {
    animation: rotation 0.3s ease-in-out both normal;
  }
  .rotrev {
    animation: rotationrev 0.3s ease-in-out both normal;
  }
  @keyframes rotation {
    0% {
      transform: rotateZ(0deg);
    }
    95% {
      transform: rotateZ(180deg);
    }
    100% {
      transform: rotateZ(180deg);
    }
  }
  @keyframes rotationrev {
    0% {
      transform: rotateZ(180deg);
    }
    5% {
      transform: rotateZ(180deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  .active {
    display: block;
  }
  .inactive {
    transition: all 0.2s;
    transition-timing-function: ease-out;
    transform-origin: 50% 0%;
    opacity: 0;
    transform: scaleY(0);
    max-height: 5px;
  }
  .fade {
    transition: all 0.2s;
    transition-timing-function: ease-out;
    transform-origin: 50% 0%;
    transform: scaleY(1);
    max-height: 550px;
    position: relative;
    bottom: 83px;
  }
  .fade.out {
    transition: all 0.2s;
    transition-timing-function: ease-in;
    transform-origin: 50% 0%;
    opacity: 0;
    transform: scaleY(0);
    max-height: 10px;
  }
  .apcontainer {
    min-height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .fade {
    max-height: 250px;
    transform-origin: 50% 0%;
  }
  .fade.out {
    max-height: 250px;
    transform-origin: 50% 0%;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ff6060;
  height: 86%;
}
.error span {
  color: #ff6060;
  font-size: 200px;
  font-weight: 900;
}
.error a {
  text-decoration: underline;
  color: #ff6060;
}

@media screen and (min-width: 320px) {
  .banniere2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 350px;
    margin-top: 20px;
  }
  .banniere2_background2 {
    width: 95%;
    background-color: black;
    border-radius: 10px;
  }
  .banniere2 img {
    max-height: 350px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    opacity: 0.95;
  }
}
@media screen and (min-width: 500px) {
  .banniere2 {
    height: 200px;
    margin-bottom: 50px;
    width: 90%;
  }
  .banniere2 img {
    max-height: 200px;
  }
}
@media screen and (min-width: 320px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 280px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .container {
    width: 90%;
    margin: auto;
    height: 80%;
  }
  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px rgba(102, 102, 102, 0.1647058824);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    display: block;
  }
  .slide_hidden {
    display: none;
  }
  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
  }
  .arrow_left {
    left: 16px;
  }
  .arrow_left img {
    height: 30px;
  }
  .arrow_right {
    right: 4px;
  }
  .arrow_right img {
    height: 30px;
  }
  .arrow:hover {
    cursor: pointer;
  }
  .pagination {
    position: absolute;
    bottom: 14px;
    color: white;
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .carousel {
    min-height: 415px;
  }
  .pagination {
    display: block;
  }
}
@media screen and (min-width: 320px) {
  .categoryButton {
    background-color: #ff6060;
    display: flex;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 84px;
    font-size: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .categoryButton {
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 115px;
  }
}
@media screen and (min-width: 320px) {
  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infos_accordeon {
    position: relative;
    width: 100%;
  }
  .logementDescription {
    color: #ff6060;
  }
  .logementDescription_title {
    font-weight: 500;
    font-size: 18px;
    width: 90%;
    margin-top: 0px;
  }
  .logementDescription span {
    font-size: 14px;
  }
  .logementDescription_stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .apAccordion {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 118px;
    position: relative;
    left: 8px;
  }
  .banniereContainer {
    display: flex;
    justify-content: center;
  }
  .column1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .column2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin-bottom: 55px;
    align-items: center;
  }
}
@media screen and (min-width: 650px) {
  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .infos_accordeon {
    width: 100%;
  }
  .logementDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    align-items: flex-start;
  }
  .logementDescription_title {
    width: 70%;
    line-height: 40px;
    font-size: 36px;
    margin-top: 10px;
  }
  .logementDescription span {
    font-size: 18px;
  }
  .logementDescription_stats {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .apAccordion {
    margin-top: 90px;
    width: 70%;
  }
  .column2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 50%;
    gap: 50px;
    align-items: center;
  }
}
@media screen and (min-width: 320px) {
  .host {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .host_name {
    font-size: 12px;
    width: 80px;
    display: block;
    text-align: end;
    margin-right: 5px;
  }
  .host_img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
  }
}
@media screen and (min-width: 650px) {
  .host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .host_name {
    font-size: 18px;
    width: 100px;
    display: block;
  }
  .host_img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
  }
}
@media screen and (min-width: 320px) {
  .rating {
    display: flex;
    flex-direction: row;
  }
  .fa-star {
    height: 18px;
    color: #e3e3e3;
  }
  .red {
    color: #ff6060;
  }
  .small {
    display: block;
  }
  .big {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .rating {
    gap: 10px;
    size: 50px;
  }
  .small {
    display: none;
  }
  .big {
    display: block;
  }
}
@media screen and (min-width: 320px) {
  * {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
  }
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #outer {
    min-height: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    float: none;
    min-height: 100%;
  }
  .content {
    padding: 0;
  }
  #root {
    width: 1440px;
    min-height: 100%;
  }
}/*# sourceMappingURL=main.css.map */